body{
  text-align: center;
  font-family: "Arial", sans-serif;
}

h1{
  margin-top: 1%;
  font-weight: 600;
  font-size: 200%;
}

form div{
  display: inline-block;
  margin: 1% 1%;
}
input[type=submit]{
  margin: auto;
  display: block;
}

.map{
  width:500px;
  height:380px;
  margin: 1% auto;
  background-color: #eee;
}

/*infoWindow scrollbar bug fix*/
.gm-style-iw {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.gm-style-iw > div {
  overflow: visible !important;   
}
.infoWindow {
  overflow: hidden !important;
}